#Timer {
  text-align: center;
  font-size: 1.5em;
}

#time {
  font-size: 3em;
}

#buttons {
  font-size: 1.5em;
}

button {
  width: 100px;
  height: 30px;
  border: 2px solid white;
  border-radius: 8px;
  background: transparent;
  color: white;
  cursor: pointer;
  outline: none;
  font-family: "Major Mono Display";
}
